body, html {
  height: 100%;
}

.muusic {
  font-size: 100px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

.muusic.mini-muusic {
  font-size: 50px;
}

.no-margin {
  margin: 0;
}

.title-section {
  position: relative;
}

.title-section .text-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.details-panel, .content-panel {
  padding-top: 20px;
}

.details-panel {
  background-color: #333333;
  color: white;
  position: fixed;
  height: 100%;
}

.details-panel h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
}

.details-panel a {
  color: white;
  text-decoration: underline;
}

.details-panel h1 {
  margin-bottom: 20px;
}

.details-panel img {
  margin-bottom: 20px;
}

.content-panel {
  margin-left: 320px;
}

img {
  width: 100%;
}

img.mini-img {
  width: 50%;
}

img.spotify {
  margin-right: 10px;
}

.song-table {
  margin-bottom: 30px;
}

.song-table td {
  padding: 2px;
  vertical-align: middle;
}

hr {
  border-top: 2px solid #333333;
}

hr.thick {
  border-top: 5px solid #333333;
}

.details-panel hr {
  border-top: 2px solid white;
}

.tile {
  text-align: center;
}

.content-panel a,
.tile a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

.invalid-feedback {
  display: block;
}

.user-search {
  position: absolute;
  bottom: 0;
  padding: 0;
}